* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container p{
}

form button{
	margin-top: -20px;
}

footer{
	padding-left: 25%;
	background-color: silver;
	margin-top: 200px;
	position: fixed;
	width: 100%;
	height: 25%;
}

footer ul a{
	color: light-blue;
}

.container{
	width: 100%;
}

.jumbotron{
	background: url('../img/header.jpg') no-repeat;
	background-size: cover;
	margin-top: -20px;
	width: 100%;
}

form{
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

form button{
	margin-top: -1px;
}

header h2{
	color: white;
}

.container img{
	width: 100%;
	height: 100%;
	margin-left: -25px;
}